In [26]:
import pandas as pd
import numpy as np
import pprint
import re
from os import walk
import scipy.stats as stats
import matplotlib.pyplot as plt

In [209]:
disease = pd.read_csv('../ADNI/Medical_History/RECCMEDS.csv',low_memory=False)
disease = disease[disease.RID == 6946]
disease[['RID','CMREASON','CMMED']]

        RID CMREASON                     CMMED
60035  6946        2                  amlopine
60036  6946        2                  losartan
60037  6946        2              atorvastatin
60038  6946        3  Brinzolamide/brimonidine
60039  6946        3                     CoQ10
60040  6946        2                 metformin
60041  6946        2                  travatan
60042  6946        2                carvedilol
60043  6946        3               tumeric +bp

In [105]:
prev_dx = disease.CMREASON.tolist()
regex = r"diabetes"

index_list = []
for w in range(len(disease.CMREASON.tolist())):
    try:
        matches = re.findall(regex, prev_dx[w], re.MULTILINE | re.IGNORECASE)
        if len(matches)!=0:
            index_list.append(w)
    except Exception:
        print(prev_dx[w])

In [106]:
disease  = disease[disease.index.isin(index_list)]
disease

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,RECNO,EXAMDATE,...,CMROUTEID,CMROUTE,CMROUTEO,CMREASON,CMEVNUM,CMBGN,CMCONT,CMEND,CMCOMM,update_stamp
30,ADNI1,80,7,10,sc,sc,2005-08-29,NaN,4.0,8/25/2005,...,NaN,PO,NaN,Diabetes,NaN,8/1/2003,1.0,-4,-4,2005-08-29 00:00:00.0
121,ADNI1,264,26,10,f,f,2005-09-28,NaN,2.0,9/27/2005,...,NaN,PO,NaN,Diabetes,NaN,--/--/2004,1.0,-4,-4,2005-09-28 00:00:00.0
249,ADNI1,520,42,11,sc,sc,2005-10-18,2010-11-09,3.0,10/18/2005,...,NaN,IV,NaN,diabetes mellitus,NaN,--/--/1995,1.0,-4,Dosage depends on blood sugar level at the tim...,2010-11-09 00:00:00.0
251,ADNI1,524,42,11,sc,sc,2005-10-18,2010-11-09,4.0,10/18/2005,...,NaN,IV,NaN,diabetes mellitus,NaN,--/--/1995,0.0,06/--/2010,PCP lowered dose due to blood sugar levels and...,2010-11-09 00:00:00.0
269,ADNI1,560,23,107,sc,sc,2005-10-19,NaN,3.0,10/18/2005,...,NaN,po,NaN,diabetes,NaN,--/--/2002,0.0,9/11/2007,-4,2005-10-19 00:00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16573,ADNI1,33917,972,124,m42,m42,2010-06-22,NaN,15.0,6/22/2010,...,NaN,PO,NaN,diabetes,NaN,6/8/2010,1.0,-4,-4,2010-06-22 00:00:00.0
16702,ADNI1,34201,1271,5,m42,m42,2010-09-28,NaN,43.0,9/28/2010,...,NaN,PO,NaN,diabetes,NaN,7/21/2010,1.0,-4,-4,2010-09-28 00:00:00.0
16817,ADNI1,34443,42,11,m54,m54,2010-11-09,NaN,11.0,11/8/2010,...,NaN,oral,NaN,diabetes mellitus,NaN,06/--/2010,1.0,-4,dosage was lowered from 42 iu.,2010-11-09 00:00:00.0
17161,ADNI1,35153,1167,10,f,f,2014-06-09,NaN,1.0,12/6/2006,...,NaN,PO,NaN,diabetes,NaN,9/6/2005,1.0,-4,-4,2014-06-09 00:00:00.0
17170,ADNI1,35171,1167,10,f,f,2014-06-09,NaN,10.0,12/6/2006,...,NaN,IM,NaN,diabetes,NaN,12/6/2006,1.0,-4,-4,2014-06-09 00:00:00.0

In [107]:
disease.isnull().sum()

Phase             0
ID                0
RID               0
SITEID            0
VISCODE           0
VISCODE2          0
USERDATE          0
USERDATE2       149
RECNO             0
EXAMDATE          0
CMMEDID         163
CMMED             0
CMHFS             0
CMMEDO          163
CMDOSE            0
CMUNITSID       163
CMUNITS         163
CMUNITO         163
CMFREQID        163
CMFREQNC          0
CMFREQNCO       163
CMROUTEID       163
CMROUTE           0
CMROUTEO        163
CMREASON          0
CMEVNUM         163
CMBGN             0
CMCONT            0
CMEND             0
CMCOMM            0
update_stamp      0
dtype: int64

In [108]:
drop_col = ['CMMEDID','CMMEDO','CMUNITSID','CMUNITS','CMUNITO','CMFREQID','CMFREQNCO','CMROUTEID','CMROUTEO','CMEVNUM','update_stamp']
disease.drop(drop_col, axis=1, inplace=True)

In [109]:
disease

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,RECNO,EXAMDATE,CMMED,CMHFS,CMDOSE,CMFREQNC,CMROUTE,CMREASON,CMBGN,CMCONT,CMEND,CMCOMM
30,ADNI1,80,7,10,sc,sc,2005-08-29,NaN,4.0,8/25/2005,Amaryl,-4.0,1 mg,QD,PO,Diabetes,8/1/2003,1.0,-4,-4
121,ADNI1,264,26,10,f,f,2005-09-28,NaN,2.0,9/27/2005,Glipizide,-4.0,10 mg,QD,PO,Diabetes,--/--/2004,1.0,-4,-4
249,ADNI1,520,42,11,sc,sc,2005-10-18,2010-11-09,3.0,10/18/2005,Humalog,-4.0,10-18 IU,TID,IV,diabetes mellitus,--/--/1995,1.0,-4,Dosage depends on blood sugar level at the tim...
251,ADNI1,524,42,11,sc,sc,2005-10-18,2010-11-09,4.0,10/18/2005,Lantus,-4.0,42 IU,QD,IV,diabetes mellitus,--/--/1995,0.0,06/--/2010,PCP lowered dose due to blood sugar levels and...
269,ADNI1,560,23,107,sc,sc,2005-10-19,NaN,3.0,10/18/2005,avandia,-4.0,2 mg,qd,po,diabetes,--/--/2002,0.0,9/11/2007,-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16573,ADNI1,33917,972,124,m42,m42,2010-06-22,NaN,15.0,6/22/2010,Metformin,-4.0,425 MG,QD,PO,diabetes,6/8/2010,1.0,-4,-4
16702,ADNI1,34201,1271,5,m42,m42,2010-09-28,NaN,43.0,9/28/2010,Metformin,-4.0,850 mg,BID,PO,diabetes,7/21/2010,1.0,-4,-4
16817,ADNI1,34443,42,11,m54,m54,2010-11-09,NaN,11.0,11/8/2010,Lantus,-4.0,25 iu,QD,oral,diabetes mellitus,06/--/2010,1.0,-4,dosage was lowered from 42 iu.
17161,ADNI1,35153,1167,10,f,f,2014-06-09,NaN,1.0,12/6/2006,Metformin,-4.0,1000mg,bid,PO,diabetes,9/6/2005,1.0,-4,-4
17170,ADNI1,35171,1167,10,f,f,2014-06-09,NaN,10.0,12/6/2006,Lantus Insulin,-4.0,10mg,daily,IM,diabetes,12/6/2006,1.0,-4,-4

In [110]:
for i in disease.columns:
    print((i,disease[i].unique()))

('Phase', array(['ADNI1'], dtype=object))
('ID', array([   80,   264,   520,   524,   560,   890,  1032,  1034,  1140,
        1142,  1390,  1392,  1404,  1406,  2198,  2208,  2222,  2570,
        2630,  2724,  3040,  3096,  3222,  3338,  3618,  3874,  3972,
        4076,  4086,  4092,  4172,  4174,  4390,  5892,  5894,  6254,
        6256,  6408,  6410,  6414,  6618,  6702,  6704,  6832,  6970,
        6972,  8036,  8514,  8718,  8920,  8982,  8984,  9482,  9804,
        9812,  9828,  9920,  9986,  9988, 10072, 10074, 10278, 10702,
       10856, 10862, 10882, 10960, 10962, 11188, 11714, 12482, 12498,
       12656, 12764, 13044, 13064, 13066, 13068, 13546, 13548, 13992,
       14010, 14062, 14274, 14572, 14830, 15044, 15440, 15450, 15606,
       15608, 15796, 15798, 15800, 16244, 16250, 16714, 16726, 16850,
       17486, 17704, 17714, 17828, 17994, 17996, 18132, 18954, 18956,
       18958, 19402, 19406, 19408, 19756, 19758, 20448, 20554, 20610,
       20614, 21358, 21464, 21970, 22188, 22192, 22394, 22812, 23262,
       23284, 23352, 23356, 23358, 23360, 24152, 24228, 24448, 24452,
       25422, 26370, 26830, 27480, 27714, 28534, 29892, 30610, 30710,
       30824, 31268, 31644, 31789, 31797, 32207, 32853, 33029, 33091,
       33377, 33379, 33827, 33829, 33915, 33917, 34201, 34443, 35153,
       35171]))
('RID', array([   7,   26,   42,   23,   60,   77,   87,  127,  192,  197,  212,
        219,  232,  176,  241,  273,  294,  321,  252,  271,  342,  339,
        280,  369,  493,  500,  545,  524,  506,  571,  633,  675,  702,
        704,  669,  762,  761,  779,  785,  790,  836,  826,  854,  804,
        929,  942,  943,  941,  877, 1019, 1007, 1021,  990, 1066, 1001,
       1095,  972, 1143, 1114, 1161, 1158, 1201, 1174, 1244, 1255, 1275,
       1260, 1271, 1366, 1380, 1419, 1423,  188, 1241,  502,  526, 1032,
        976,  618, 1167]))
('SITEID', array([ 10,  11, 107,  45,  32,   3,  33, 115, 124, 117,   9,  15,   5,
       119,  20, 120, 114, 113, 103, 111,  39,  62,   1,  19,  14,   2,
       109,  35, 102,  17, 110, 108,  86,  41]))
('VISCODE', array(['sc', 'f', 'm06', 'bl', 'm12', 'm18', 'm24', 'm30', 'm36', 'm48',
       'm42', 'm54'], dtype=object))
('VISCODE2', array(['sc', 'f', 'm06', 'bl', 'm12', 'm18', 'm24', 'm30', 'm36', 'm48',
       'm42', 'm54'], dtype=object))
('USERDATE', array(['2005-08-29', '2005-09-28', '2005-10-18', '2005-10-19',
       '2005-11-18', '2005-12-05', '2005-12-12', '2006-01-05',
       '2006-01-30', '2006-02-08', '2006-02-13', '2006-02-15',
       '2006-02-23', '2006-02-24', '2006-03-02', '2006-03-03',
       '2006-03-09', '2006-03-15', '2006-03-16', '2006-03-17',
       '2006-03-21', '2006-03-24', '2006-04-27', '2006-05-04',
       '2006-05-09', '2006-05-11', '2006-05-12', '2006-05-15',
       '2006-05-16', '2006-06-06', '2006-06-20', '2006-06-23',
       '2006-06-29', '2006-06-30', '2006-07-11', '2006-07-20',
       '2006-07-24', '2006-07-26', '2006-07-28', '2006-08-04',
       '2006-08-17', '2006-08-21', '2006-08-22', '2006-08-23',
       '2006-08-28', '2006-09-11', '2006-09-20', '2006-09-21',
       '2006-09-25', '2006-09-27', '2006-10-04', '2006-10-05',
       '2006-10-16', '2006-10-24', '2006-10-25', '2006-10-30',
       '2006-11-06', '2006-11-09', '2006-11-15', '2006-11-22',
       '2006-11-29', '2006-12-02', '2006-12-12', '2006-12-21',
       '2007-01-03', '2007-01-17', '2007-01-22', '2007-01-24',
       '2007-01-29', '2007-01-30', '2007-02-14', '2007-02-26',
       '2007-03-07', '2007-04-04', '2007-04-16', '2007-04-18',
       '2007-06-06', '2007-06-13', '2007-07-12', '2007-07-27',
       '2007-08-09', '2007-08-29', '2007-09-28', '2007-10-02',
       '2007-10-05', '2007-11-24', '2007-11-27', '2007-12-06',
       '2008-02-19', '2008-04-17', '2008-05-13', '2008-06-26',
       '2008-07-16', '2008-09-22', '2009-01-26', '2009-03-23',
       '2009-03-31', '2009-04-08', '2009-06-02', '2009-07-13',
       '2009-07-24', '2009-09-17', '2010-01-11', '2010-01-27',
       '2010-02-08', '2010-03-09', '2010-05-28', '2010-06-22',
       '2010-09-28', '2010-11-09', '2014-06-09'], dtype=object))
('USERDATE2', array([nan, '2010-11-09', '2010-10-28', '2010-05-28', '2012-03-09',
       '2010-03-09', '2010-09-28', '2010-06-22', '2011-04-18',
       '2010-01-27', '2011-06-08', '2009-10-26', '2010-02-08'],
      dtype=object))
('RECNO', array([ 4.,  2.,  3.,  5.,  6.,  1.,  8.,  9., 10., 14., 13.,  7., 12.,
       15., 16., 11., 18., 21., 35., 17., 34., 40., 37., 38., 22., 23.,
       43.]))
('EXAMDATE', array(['8/25/2005', '9/27/2005', '10/18/2005', '11/9/2005', '12/2/2005',
       '12/7/2005', '1/5/2006', '1/26/2006', '1/30/2006', '2/6/2006',
       '2/10/2006', '2/14/2006', '2/23/2006', '2/24/2006', '3/2/2006',
       '3/9/2006', '3/14/2006', '3/15/2006', '3/17/2006', '3/9/2007',
       '3/21/2006', '3/22/2006', '4/26/2006', '4/27/2006', '5/8/2006',
       '5/11/2006', '5/15/2006', '6/2/2006', '6/15/2006', '6/23/2006',
       '6/26/2006', '7/10/2006', '7/19/2006', '7/24/2006', '7/25/2006',
       '8/1/2006', '8/17/2006', '8/21/2006', '8/23/2006', '8/28/2006',
       '8/8/2006', '9/18/2006', '9/21/2006', '9/25/2006', '9/27/2006',
       '9/20/2006', '9/7/2006', '10/16/2006', '10/13/2006', '10/18/2006',
       '10/11/2006', '10/30/2006', '11/6/2006', '11/8/2006', '11/14/2006',
       '11/21/2006', '11/28/2006', '12/5/2006', '12/4/2006', '12/22/2006',
       '12/8/2006', '1/16/2007', '1/18/2007', '1/23/2007', '1/26/2007',
       '2/8/2007', '2/23/2007', '2/26/2007', '4/4/2007', '3/8/2007',
       '4/17/2007', '6/5/2007', '6/8/2007', '7/11/2007', '7/16/2007',
       '8/8/2007', '8/9/2007', '9/24/2007', '8/20/2007', '9/18/2007',
       '11/20/2007', '11/13/2007', '12/5/2007', '2/15/2008', '4/17/2008',
       '5/13/2008', '6/23/2008', '7/11/2008', '9/22/2008', '12/5/2008',
       '3/13/2009', '3/31/2009', '4/7/2009', '6/2/2009', '7/13/2009',
       '6/30/2009', '3/5/2009', '1/6/2010', '9/16/2009', '2/4/2010',
       '3/8/2010', '4/14/2010', '6/22/2010', '9/28/2010', '11/8/2010',
       '12/6/2006'], dtype=object))
('CMMED', array(['Amaryl', 'Glipizide', 'Humalog', 'Lantus', 'avandia', 'Avandia',
       'Melforman HCL', 'insulin 7030', 'glyburide', 'metformin HCL',
       'Micronase', 'actos', 'amaryl', 'METFORMIN', 'Glyburide',
       'Metformin', 'GLIPIZIDE ER', 'glipizide', 'Glucovance',
       'novolog insulin', 'Lantus inject', 'AMARYL', 'AVANDIA', 'Cartia',
       'Cozaar', 'Insulin (Novolin)', 'Actose', 'Glargine Insulin',
       'novalog', 'insulin-NPH', 'Novolin N', 'metformin',
       'triamcinolone acetonide', 'HUMALOG PEN-INSULIN INJECTION 75/25',
       'Insulin NPH', 'Glimepiride', 'glucophage', 'Gybmide',
       'Insulin 7030', 'GLYBURIDE/METFORMIN', 'Glybor/Metfrm',
       'Metformin HCL', 'Glucophage', 'rofiglitazone', 'VASOTEC',
       'metformin ER', 'glimepiride', 'GLIPIZIDE', 'MetFORMIN',
       'GLUCOPHAGE', 'Glucotrol XL', 'Avandamet', 'prandin', 'glyset',
       'Glucophage XR', 'Lantus U-100', 'Metformin HCL tabs',
       'Metformin (Extended Release)', 'dexamethasone', 'Starlix',
       'Insulin Regular Human', 'Actos', 'GlipiZIDE', 'Metfomin',
       'Niaspan', 'Insulin N', 'Novalog', 'Lantus Insulin'], dtype=object))
('CMHFS', array([-4.]))
('CMDOSE', array(['1 mg', '10 mg', '10-18 IU', '42 IU', '2 mg', '4mg', '4 mg',
       '1000 mg', '8 mg', '25 U', '10 U', '5mg', '500mg', '5 mg', '45 mg',
       '500MG', '75/25', '500 mg', '2mg', '5MG', '2.5mg', '5/500 mg',
       '10mL, 100 U/mL - 54 units', '50 units', '4MG', '300mg', '12.5mg',
       '12 U (QAM) and 14 U (QHS)', '20 mg', '30u', 'PRN', '44 units',
       '25 units', '0.10%', '15 mg', '3ML', '1000mg', '10 units', '10mg',
       '2.5 mg', '3 tabs', '25oz', '23 U', '9 U', '2.5/500 MGM',
       '2.5/500', '8mg', '10MG', '1mg', '500 MG', '.5 mg', '50 mg',
       '850 mg', '2 tabs', '8 units', '800MG', '850mg', '1.25 mg',
       '120mg', '4 U', '2.5MG', '30mg', '250mg', '1000', '2',
       '4-14 units sliding scale', '850 MG', '425 MG', '25 iu'],
      dtype=object))
('CMFREQNC', array(['QD', 'TID', 'qd', 'once daily', 'Bd', 'Qd', 'bid', 'BID',
       'EVERY OTHER DAY', 'QID', 'qAM', 'qPM', 'qD', 'HS', 'BD', 'prn',
       'qam', 'daily', 'Daily', 'QAM', 'tid', '1 tab QAM, 1/2 tab QHS',
       'BiD', 'PRN'], dtype=object))
('CMROUTE', array(['PO', 'IV', 'po', 'oral', 'sc', 'SC', 'P.O', '5MG', 'Oral', 'IM',
       'imsc', 'SQ', 'top', 'INJ', 'sq', 'p.o', 'subcut'], dtype=object))
('CMREASON', array(['Diabetes', 'diabetes mellitus', 'diabetes', 'diabetes mellitis',
       'DIABETES', 'Diabetes Type II', 'Stable Diabetes',
       'Diabetes, Stable', 'Type II Diabetes',
       'Type II Diabetes mellitis', 'Type II Diabetes Mellitis',
       'Blood pressure and Diabetes', 'Diabetes Mellitus',
       'rash related to diabetes', 'Diabetes mellitus',
       'Type II Diabetes (NIDDM)', 'Diabetes Mellitus (NIDDM)',
       'HYPERTENSION/DIABETES', 'Adult onset diabetes',
       'Adult onset Diabetes', 'to treat type 2 diabetes',
       'treat type 2 diabetes', 'to treat a type of diabetes mellitus',
       'diabetes type II', 'diabetes II', 'diabetes insipidus',
       'Diabetes type II', 'worsening diabetes', 'WORSENING DIABETES',
       'for possible diabetes'], dtype=object))
('CMBGN', array(['8/1/2003', '--/--/2004', '--/--/1995', '--/--/2002', '7/29/2004',
       '--/--/2003', '1/1/2001', '1/1/2004', '--/--/1975', '--/--/1998',
       '--/--/1980', '--/--/1999', '1/19/2006', '05/--/2002',
       '--/--/1997', '--/--/2001', '--/--/2000', '1/1/2002', '2/21/2006',
       '10/28/2004', '07/--/2002', '07/--/2003', '03/--/2004',
       '--/--/1996', '12/--/2004', '--/--/1976', '1/1/1991', '01/--/2006',
       '--/--/2005', '6/1/2006', '--/--/1993', '7/17/2006', '2/28/2005',
       '6/13/2006', '06/--/2006', '7/1/2006', '03/--/2006', '04/--/2002',
       '9/21/2006', '11/15/2005', '05/--/2006', '10/28/2002',
       '--/--/1984', '05/--/2004', '10/26/2006', '6/2/2006', '1/4/2001',
       '6/14/2006', '--/--/1992', '6/17/2005', '9/8/2006', '02/--/2006',
       '08/--/2006', '--/--/2006', '11/1/2003', '2/27/2007', '11/--/2006',
       '1/26/2007', '1/25/2007', '11/16/2006', '02/--/2007', '03/--/2007',
       '06/--/2007', '4/1/2007', '7/22/2007', '7/24/2007', '7/25/2007',
       '7/26/2007', '9/11/2007', '7/7/2007', '11/3/2007', '11/--/2007',
       '7/1/2007', '12/--/2007', '3/6/2008', '07/--/2008', '1/5/2009',
       '01/--/2009', '2/22/2009', '05/--/2009', '4/1/2009', '08/--/2008',
       '11/4/2008', '11/--/2009', '08/--/2009', '9/2/2009', '07/--/2009',
       '2/23/2010', '6/8/2010', '7/21/2010', '06/--/2010', '9/6/2005',
       '12/6/2006'], dtype=object))
('CMCONT', array([1., 0.]))
('CMEND', array(['-4', '06/--/2010', '9/11/2007', '5/15/2007', '02/--/2007',
       '03/--/2006', '12/6/2006', '07/--/2008', '05/--/2006', '1/2/2007',
       '7/1/2007', '12/3/2007', '11/9/2006', '5/23/2007', '10/27/2007',
       '01/--/2008', '9/25/2009', '6/1/2006', '6/12/2006', '7/22/2007',
       '1/25/2007', '11/--/2009', '10/25/2006', '01/--/2009', '8/21/2007',
       '9/15/2007', '11/4/2008', '11/15/2006', '3/6/2008', '4/1/2007',
       '--/--/2000', '11/--/2006', '2/22/2010', '08/--/2008', '7/20/2010',
       '7/17/2007', '6/8/2010', '11/3/2007', '--/--/2007', '7/24/2007',
       '7/25/2007', '11/3/2008', '7/15/2008', '08/--/2009', '7/10/2009',
       '9/1/2009'], dtype=object))
('CMCOMM', array(['-4',
       'Dosage depends on blood sugar level at the time the subject takes the med.',
       'PCP lowered dose due to blood sugar levels and side effects of med. Entered as new med.',
       'Dosage increase reocorded on concurrent med log on 7/17/07',
       'Previously on Metformin HCL 500 mg - 1 tab BID and then 1 tab am and 2 tabs pm and now 2 tab BID.',
       '5mg PO QD taken after dinner',
       'Subject previously on 500 mg - 1/2 tablet (250 mg) twice daily.',
       'caregiver stopped all meds due to subjects increased complaints of nausea, dizziness and lethargy',
       'replaced by Glipizide',
       'Dosage did not change. It was recorded incorrectly at start of study.',
       'MEDICATION DOSE CHANGE',
       'Changed dose from 500mg QD to 1000mg QD 1/27/2007',
       'Month and date unknown',
       'subject developed diabetes insipidus as a result of pituitary surgery.',
       'ONLY TAKES IF BLOOD SUGAR READING IS HIGH BEFORE BED',
       'dosage was lowered from 42 iu.'], dtype=object))

In [111]:
drop_col_2 = ['USERDATE2','ID','SITEID','RECNO','CMHFS']
disease.drop(drop_col_2, axis=1, inplace=True)
disease

,Phase,RID,VISCODE,VISCODE2,USERDATE,EXAMDATE,CMMED,CMDOSE,CMFREQNC,CMROUTE,CMREASON,CMBGN,CMCONT,CMEND,CMCOMM
30,ADNI1,7,sc,sc,2005-08-29,8/25/2005,Amaryl,1 mg,QD,PO,Diabetes,8/1/2003,1.0,-4,-4
121,ADNI1,26,f,f,2005-09-28,9/27/2005,Glipizide,10 mg,QD,PO,Diabetes,--/--/2004,1.0,-4,-4
249,ADNI1,42,sc,sc,2005-10-18,10/18/2005,Humalog,10-18 IU,TID,IV,diabetes mellitus,--/--/1995,1.0,-4,Dosage depends on blood sugar level at the tim...
251,ADNI1,42,sc,sc,2005-10-18,10/18/2005,Lantus,42 IU,QD,IV,diabetes mellitus,--/--/1995,0.0,06/--/2010,PCP lowered dose due to blood sugar levels and...
269,ADNI1,23,sc,sc,2005-10-19,10/18/2005,avandia,2 mg,qd,po,diabetes,--/--/2002,0.0,9/11/2007,-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16573,ADNI1,972,m42,m42,2010-06-22,6/22/2010,Metformin,425 MG,QD,PO,diabetes,6/8/2010,1.0,-4,-4
16702,ADNI1,1271,m42,m42,2010-09-28,9/28/2010,Metformin,850 mg,BID,PO,diabetes,7/21/2010,1.0,-4,-4
16817,ADNI1,42,m54,m54,2010-11-09,11/8/2010,Lantus,25 iu,QD,oral,diabetes mellitus,06/--/2010,1.0,-4,dosage was lowered from 42 iu.
17161,ADNI1,1167,f,f,2014-06-09,12/6/2006,Metformin,1000mg,bid,PO,diabetes,9/6/2005,1.0,-4,-4
17170,ADNI1,1167,f,f,2014-06-09,12/6/2006,Lantus Insulin,10mg,daily,IM,diabetes,12/6/2006,1.0,-4,-4

In [112]:
for i in disease.columns:
    print((i,disease[i].unique()))

('Phase', array(['ADNI1'], dtype=object))
('RID', array([   7,   26,   42,   23,   60,   77,   87,  127,  192,  197,  212,
        219,  232,  176,  241,  273,  294,  321,  252,  271,  342,  339,
        280,  369,  493,  500,  545,  524,  506,  571,  633,  675,  702,
        704,  669,  762,  761,  779,  785,  790,  836,  826,  854,  804,
        929,  942,  943,  941,  877, 1019, 1007, 1021,  990, 1066, 1001,
       1095,  972, 1143, 1114, 1161, 1158, 1201, 1174, 1244, 1255, 1275,
       1260, 1271, 1366, 1380, 1419, 1423,  188, 1241,  502,  526, 1032,
        976,  618, 1167]))
('VISCODE', array(['sc', 'f', 'm06', 'bl', 'm12', 'm18', 'm24', 'm30', 'm36', 'm48',
       'm42', 'm54'], dtype=object))
('VISCODE2', array(['sc', 'f', 'm06', 'bl', 'm12', 'm18', 'm24', 'm30', 'm36', 'm48',
       'm42', 'm54'], dtype=object))
('USERDATE', array(['2005-08-29', '2005-09-28', '2005-10-18', '2005-10-19',
       '2005-11-18', '2005-12-05', '2005-12-12', '2006-01-05',
       '2006-01-30', '2006-02-08', '2006-02-13', '2006-02-15',
       '2006-02-23', '2006-02-24', '2006-03-02', '2006-03-03',
       '2006-03-09', '2006-03-15', '2006-03-16', '2006-03-17',
       '2006-03-21', '2006-03-24', '2006-04-27', '2006-05-04',
       '2006-05-09', '2006-05-11', '2006-05-12', '2006-05-15',
       '2006-05-16', '2006-06-06', '2006-06-20', '2006-06-23',
       '2006-06-29', '2006-06-30', '2006-07-11', '2006-07-20',
       '2006-07-24', '2006-07-26', '2006-07-28', '2006-08-04',
       '2006-08-17', '2006-08-21', '2006-08-22', '2006-08-23',
       '2006-08-28', '2006-09-11', '2006-09-20', '2006-09-21',
       '2006-09-25', '2006-09-27', '2006-10-04', '2006-10-05',
       '2006-10-16', '2006-10-24', '2006-10-25', '2006-10-30',
       '2006-11-06', '2006-11-09', '2006-11-15', '2006-11-22',
       '2006-11-29', '2006-12-02', '2006-12-12', '2006-12-21',
       '2007-01-03', '2007-01-17', '2007-01-22', '2007-01-24',
       '2007-01-29', '2007-01-30', '2007-02-14', '2007-02-26',
       '2007-03-07', '2007-04-04', '2007-04-16', '2007-04-18',
       '2007-06-06', '2007-06-13', '2007-07-12', '2007-07-27',
       '2007-08-09', '2007-08-29', '2007-09-28', '2007-10-02',
       '2007-10-05', '2007-11-24', '2007-11-27', '2007-12-06',
       '2008-02-19', '2008-04-17', '2008-05-13', '2008-06-26',
       '2008-07-16', '2008-09-22', '2009-01-26', '2009-03-23',
       '2009-03-31', '2009-04-08', '2009-06-02', '2009-07-13',
       '2009-07-24', '2009-09-17', '2010-01-11', '2010-01-27',
       '2010-02-08', '2010-03-09', '2010-05-28', '2010-06-22',
       '2010-09-28', '2010-11-09', '2014-06-09'], dtype=object))
('EXAMDATE', array(['8/25/2005', '9/27/2005', '10/18/2005', '11/9/2005', '12/2/2005',
       '12/7/2005', '1/5/2006', '1/26/2006', '1/30/2006', '2/6/2006',
       '2/10/2006', '2/14/2006', '2/23/2006', '2/24/2006', '3/2/2006',
       '3/9/2006', '3/14/2006', '3/15/2006', '3/17/2006', '3/9/2007',
       '3/21/2006', '3/22/2006', '4/26/2006', '4/27/2006', '5/8/2006',
       '5/11/2006', '5/15/2006', '6/2/2006', '6/15/2006', '6/23/2006',
       '6/26/2006', '7/10/2006', '7/19/2006', '7/24/2006', '7/25/2006',
       '8/1/2006', '8/17/2006', '8/21/2006', '8/23/2006', '8/28/2006',
       '8/8/2006', '9/18/2006', '9/21/2006', '9/25/2006', '9/27/2006',
       '9/20/2006', '9/7/2006', '10/16/2006', '10/13/2006', '10/18/2006',
       '10/11/2006', '10/30/2006', '11/6/2006', '11/8/2006', '11/14/2006',
       '11/21/2006', '11/28/2006', '12/5/2006', '12/4/2006', '12/22/2006',
       '12/8/2006', '1/16/2007', '1/18/2007', '1/23/2007', '1/26/2007',
       '2/8/2007', '2/23/2007', '2/26/2007', '4/4/2007', '3/8/2007',
       '4/17/2007', '6/5/2007', '6/8/2007', '7/11/2007', '7/16/2007',
       '8/8/2007', '8/9/2007', '9/24/2007', '8/20/2007', '9/18/2007',
       '11/20/2007', '11/13/2007', '12/5/2007', '2/15/2008', '4/17/2008',
       '5/13/2008', '6/23/2008', '7/11/2008', '9/22/2008', '12/5/2008',
       '3/13/2009', '3/31/2009', '4/7/2009', '6/2/2009', '7/13/2009',
       '6/30/2009', '3/5/2009', '1/6/2010', '9/16/2009', '2/4/2010',
       '3/8/2010', '4/14/2010', '6/22/2010', '9/28/2010', '11/8/2010',
       '12/6/2006'], dtype=object))
('CMMED', array(['Amaryl', 'Glipizide', 'Humalog', 'Lantus', 'avandia', 'Avandia',
       'Melforman HCL', 'insulin 7030', 'glyburide', 'metformin HCL',
       'Micronase', 'actos', 'amaryl', 'METFORMIN', 'Glyburide',
       'Metformin', 'GLIPIZIDE ER', 'glipizide', 'Glucovance',
       'novolog insulin', 'Lantus inject', 'AMARYL', 'AVANDIA', 'Cartia',
       'Cozaar', 'Insulin (Novolin)', 'Actose', 'Glargine Insulin',
       'novalog', 'insulin-NPH', 'Novolin N', 'metformin',
       'triamcinolone acetonide', 'HUMALOG PEN-INSULIN INJECTION 75/25',
       'Insulin NPH', 'Glimepiride', 'glucophage', 'Gybmide',
       'Insulin 7030', 'GLYBURIDE/METFORMIN', 'Glybor/Metfrm',
       'Metformin HCL', 'Glucophage', 'rofiglitazone', 'VASOTEC',
       'metformin ER', 'glimepiride', 'GLIPIZIDE', 'MetFORMIN',
       'GLUCOPHAGE', 'Glucotrol XL', 'Avandamet', 'prandin', 'glyset',
       'Glucophage XR', 'Lantus U-100', 'Metformin HCL tabs',
       'Metformin (Extended Release)', 'dexamethasone', 'Starlix',
       'Insulin Regular Human', 'Actos', 'GlipiZIDE', 'Metfomin',
       'Niaspan', 'Insulin N', 'Novalog', 'Lantus Insulin'], dtype=object))
('CMDOSE', array(['1 mg', '10 mg', '10-18 IU', '42 IU', '2 mg', '4mg', '4 mg',
       '1000 mg', '8 mg', '25 U', '10 U', '5mg', '500mg', '5 mg', '45 mg',
       '500MG', '75/25', '500 mg', '2mg', '5MG', '2.5mg', '5/500 mg',
       '10mL, 100 U/mL - 54 units', '50 units', '4MG', '300mg', '12.5mg',
       '12 U (QAM) and 14 U (QHS)', '20 mg', '30u', 'PRN', '44 units',
       '25 units', '0.10%', '15 mg', '3ML', '1000mg', '10 units', '10mg',
       '2.5 mg', '3 tabs', '25oz', '23 U', '9 U', '2.5/500 MGM',
       '2.5/500', '8mg', '10MG', '1mg', '500 MG', '.5 mg', '50 mg',
       '850 mg', '2 tabs', '8 units', '800MG', '850mg', '1.25 mg',
       '120mg', '4 U', '2.5MG', '30mg', '250mg', '1000', '2',
       '4-14 units sliding scale', '850 MG', '425 MG', '25 iu'],
      dtype=object))
('CMFREQNC', array(['QD', 'TID', 'qd', 'once daily', 'Bd', 'Qd', 'bid', 'BID',
       'EVERY OTHER DAY', 'QID', 'qAM', 'qPM', 'qD', 'HS', 'BD', 'prn',
       'qam', 'daily', 'Daily', 'QAM', 'tid', '1 tab QAM, 1/2 tab QHS',
       'BiD', 'PRN'], dtype=object))
('CMROUTE', array(['PO', 'IV', 'po', 'oral', 'sc', 'SC', 'P.O', '5MG', 'Oral', 'IM',
       'imsc', 'SQ', 'top', 'INJ', 'sq', 'p.o', 'subcut'], dtype=object))
('CMREASON', array(['Diabetes', 'diabetes mellitus', 'diabetes', 'diabetes mellitis',
       'DIABETES', 'Diabetes Type II', 'Stable Diabetes',
       'Diabetes, Stable', 'Type II Diabetes',
       'Type II Diabetes mellitis', 'Type II Diabetes Mellitis',
       'Blood pressure and Diabetes', 'Diabetes Mellitus',
       'rash related to diabetes', 'Diabetes mellitus',
       'Type II Diabetes (NIDDM)', 'Diabetes Mellitus (NIDDM)',
       'HYPERTENSION/DIABETES', 'Adult onset diabetes',
       'Adult onset Diabetes', 'to treat type 2 diabetes',
       'treat type 2 diabetes', 'to treat a type of diabetes mellitus',
       'diabetes type II', 'diabetes II', 'diabetes insipidus',
       'Diabetes type II', 'worsening diabetes', 'WORSENING DIABETES',
       'for possible diabetes'], dtype=object))
('CMBGN', array(['8/1/2003', '--/--/2004', '--/--/1995', '--/--/2002', '7/29/2004',
       '--/--/2003', '1/1/2001', '1/1/2004', '--/--/1975', '--/--/1998',
       '--/--/1980', '--/--/1999', '1/19/2006', '05/--/2002',
       '--/--/1997', '--/--/2001', '--/--/2000', '1/1/2002', '2/21/2006',
       '10/28/2004', '07/--/2002', '07/--/2003', '03/--/2004',
       '--/--/1996', '12/--/2004', '--/--/1976', '1/1/1991', '01/--/2006',
       '--/--/2005', '6/1/2006', '--/--/1993', '7/17/2006', '2/28/2005',
       '6/13/2006', '06/--/2006', '7/1/2006', '03/--/2006', '04/--/2002',
       '9/21/2006', '11/15/2005', '05/--/2006', '10/28/2002',
       '--/--/1984', '05/--/2004', '10/26/2006', '6/2/2006', '1/4/2001',
       '6/14/2006', '--/--/1992', '6/17/2005', '9/8/2006', '02/--/2006',
       '08/--/2006', '--/--/2006', '11/1/2003', '2/27/2007', '11/--/2006',
       '1/26/2007', '1/25/2007', '11/16/2006', '02/--/2007', '03/--/2007',
       '06/--/2007', '4/1/2007', '7/22/2007', '7/24/2007', '7/25/2007',
       '7/26/2007', '9/11/2007', '7/7/2007', '11/3/2007', '11/--/2007',
       '7/1/2007', '12/--/2007', '3/6/2008', '07/--/2008', '1/5/2009',
       '01/--/2009', '2/22/2009', '05/--/2009', '4/1/2009', '08/--/2008',
       '11/4/2008', '11/--/2009', '08/--/2009', '9/2/2009', '07/--/2009',
       '2/23/2010', '6/8/2010', '7/21/2010', '06/--/2010', '9/6/2005',
       '12/6/2006'], dtype=object))
('CMCONT', array([1., 0.]))
('CMEND', array(['-4', '06/--/2010', '9/11/2007', '5/15/2007', '02/--/2007',
       '03/--/2006', '12/6/2006', '07/--/2008', '05/--/2006', '1/2/2007',
       '7/1/2007', '12/3/2007', '11/9/2006', '5/23/2007', '10/27/2007',
       '01/--/2008', '9/25/2009', '6/1/2006', '6/12/2006', '7/22/2007',
       '1/25/2007', '11/--/2009', '10/25/2006', '01/--/2009', '8/21/2007',
       '9/15/2007', '11/4/2008', '11/15/2006', '3/6/2008', '4/1/2007',
       '--/--/2000', '11/--/2006', '2/22/2010', '08/--/2008', '7/20/2010',
       '7/17/2007', '6/8/2010', '11/3/2007', '--/--/2007', '7/24/2007',
       '7/25/2007', '11/3/2008', '7/15/2008', '08/--/2009', '7/10/2009',
       '9/1/2009'], dtype=object))
('CMCOMM', array(['-4',
       'Dosage depends on blood sugar level at the time the subject takes the med.',
       'PCP lowered dose due to blood sugar levels and side effects of med. Entered as new med.',
       'Dosage increase reocorded on concurrent med log on 7/17/07',
       'Previously on Metformin HCL 500 mg - 1 tab BID and then 1 tab am and 2 tabs pm and now 2 tab BID.',
       '5mg PO QD taken after dinner',
       'Subject previously on 500 mg - 1/2 tablet (250 mg) twice daily.',
       'caregiver stopped all meds due to subjects increased complaints of nausea, dizziness and lethargy',
       'replaced by Glipizide',
       'Dosage did not change. It was recorded incorrectly at start of study.',
       'MEDICATION DOSE CHANGE',
       'Changed dose from 500mg QD to 1000mg QD 1/27/2007',
       'Month and date unknown',
       'subject developed diabetes insipidus as a result of pituitary surgery.',
       'ONLY TAKES IF BLOOD SUGAR READING IS HIGH BEFORE BED',
       'dosage was lowered from 42 iu.'], dtype=object))

In [113]:
len(disease.columns)
keep_col=['RID','CMMED','CMDOSE','CMREASON','CMCOMM','CMFREQNC']
disease = disease[keep_col]
len(disease.RID.unique().tolist())

80

In [114]:
init_health = pd.read_csv('../ADNI/Medical_History/INITHEALTH.csv',low_memory=False)
init_health

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,IHNUM,IHSYMPTOM,...,IHSURG,IHSURGDATE,IHPRESENT,IHCHRON,IHSEVER,IHDTONSET,IHONGOING,IHCEASE,IHCOMM,update_stamp
0,ADNI3,415,74,20,init,m132,2017-01-24,2017-01-24,12,18,...,1.0,1975-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-15 22:56:34.0
1,ADNI3,5898,679,28,init,m132,2017-06-19,2017-06-19,2,17,...,0.0,NaN,0.0,NaN,NaN,2002-07-02,0.0,2002-07-02,NaN,2018-07-15 22:56:34.0
2,ADNI3,8035,677,23,init,m132,2017-07-19,2017-07-19,14,8,...,0.0,NaN,1.0,3.0,1.0,2017-04-15,1.0,NaN,NaN,2018-07-15 22:56:34.0
3,ADNI3,4169,626,16,init,m126,2017-05-25,2017-05-25,28,18,...,0.0,NaN,0.0,NaN,NaN,2001-04-11,0.0,2001-07-02,NaN,2021-07-29 04:18:40.0
4,ADNI3,9189,6058,59,sc,sc,2017-08-01,2017-08-01,8,12,...,0.0,NaN,1.0,3.0,1.0,2007-07-02,1.0,NaN,NaN,2018-07-15 22:56:38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15720,ADNI3,162365,4382,36,init,m96,2022-07-29,2022-07-29,4,10,...,0.0,NaN,1.0,3.0,1.0,2001-07-02,1.0,NaN,NaN,2022-07-30 04:20:23.0
15721,ADNI3,150975,4382,36,init,m96,NaN,2022-07-29,1,5,...,0.0,NaN,1.0,3.0,1.0,1950-07-02,1.0,NaN,NaN,2022-07-30 04:20:23.0
15722,ADNI3,162363,4382,36,init,m96,2022-07-29,2022-07-29,2,4,...,0.0,NaN,1.0,3.0,1.0,2008-07-01,1.0,NaN,NaN,2022-07-30 04:20:23.0
15723,ADNI3,162364,4382,36,init,m96,2022-07-29,2022-07-29,3,12,...,0.0,NaN,1.0,3.0,1.0,2005-07-02,1.0,NaN,NaN,2022-07-30 04:20:23.0
15724,ADNI3,162268,5078,28,init,m54,2022-07-29,2022-07-29,9,9,...,0.0,NaN,1.0,3.0,1.0,2000-07-01,0.0,2022-07-02,NaN,2022-07-30 04:20:23.0

In [115]:
prev_dx = init_health.IHDESC.tolist()
regex = r"diab|glucose intolerance"

index_list = []
for w in range(len(prev_dx)):
    try:
        matches = re.findall(regex, prev_dx[w], re.MULTILINE | re.IGNORECASE)
        if len(matches)!=0:
            index_list.append(w)
    except Exception:
        print(prev_dx[w])

In [116]:
init_health  = init_health[init_health.index.isin(index_list)]
rid_init_list = init_health.RID.tolist()

In [117]:
init_health.to_csv('../ADNI/Medical_History/init_health.csv')

In [118]:
rec_hist = pd.read_csv('../ADNI/Medical_History/RECMHIST.csv',low_memory=False)
rec_hist

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,RECNO,EXAMDATE,MHNUM,MHDESC,MHDTONSET,MHCUR,MHSTAB,update_stamp
0,ADNI1,12,2,107,sc,sc,2005-08-17,NaN,1.0,2005-08-17,9.0,--/--/1984 Pancreatitis,NaN,0.0,-4.0,2005-08-17 00:00:00.0
1,ADNI1,14,2,107,sc,sc,2005-08-17,NaN,2.0,2005-08-17,9.0,"--/--/2001 Non Insulin dependent diabetes, die...",NaN,1.0,1.0,2005-08-17 00:00:00.0
2,ADNI1,16,2,107,sc,sc,2005-08-17,NaN,3.0,2005-08-17,3.0,--/--/1993 cataracts removed from both eyes,NaN,0.0,-4.0,2005-08-17 00:00:00.0
3,ADNI1,18,1,10,f,f,2005-08-18,NaN,1.0,2005-08-18,3.0,"astigmatism OU since 1950, corrective lenses w...",NaN,1.0,1.0,2005-08-18 00:00:00.0
4,ADNI1,20,1,10,f,f,2005-08-18,NaN,2.0,2005-08-18,6.0,Hepatitis A 1990,NaN,0.0,-4.0,2005-08-18 00:00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30805,ADNI2,32728,363,36,v06,m72,2018-12-06,NaN,8.0,NaN,18.0,bilateral cataract extraction,--/--/2010,0.0,NaN,2018-12-06 19:51:25.0
30806,ADNI2,32730,363,36,v06,m72,2018-12-06,NaN,9.0,NaN,10.0,constipation,--/--/2002,1.0,1.0,2018-12-06 19:51:25.0
30807,ADNI2,32732,363,36,v06,m72,2018-12-06,NaN,10.0,NaN,2.0,word finding difficulty,--/--/2009,1.0,0.0,2018-12-06 19:51:25.0
30808,ADNI2,32734,363,36,v06,m72,2018-12-06,NaN,11.0,NaN,2.0,short-term memory decline,--/--/2009,1.0,0.0,2018-12-06 19:51:25.0
30809,ADNI2,32736,363,36,v06,m72,2018-12-06,NaN,12.0,NaN,12.0,urinary incontinence,01/--/2008,1.0,1.0,2018-12-06 19:51:25.0

In [119]:
rec_hist.isnull().sum()

Phase               0
ID                  0
RID                 0
SITEID              0
VISCODE             0
VISCODE2            0
USERDATE            0
USERDATE2       28131
RECNO              17
EXAMDATE        21092
MHNUM              17
MHDESC              0
MHDTONSET       14646
MHCUR              17
MHSTAB           9293
update_stamp        0
dtype: int64

In [120]:
prev_dx = rec_hist.MHDESC.tolist()
regex = r"diab|glucose intolerance"

index_list = []
for w in range(len(prev_dx)):
    try:
        matches = re.findall(regex, prev_dx[w], re.MULTILINE | re.IGNORECASE)
        if len(matches)!=0:
            index_list.append(w)
    except Exception:
        print(prev_dx[w])

rec_hist  = rec_hist[rec_hist.index.isin(index_list)]
rid_rec_list = rec_hist.RID.tolist()

In [121]:
rec_hist.to_csv('../ADNI/Medical_History/rec_health.csv')

In [122]:
diabetes_rid_list = np.unique(rid_rec_list+rid_init_list).tolist()
len(diabetes_rid_list)

387

In [123]:
rec_hist

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,RECNO,EXAMDATE,MHNUM,MHDESC,MHDTONSET,MHCUR,MHSTAB,update_stamp
1,ADNI1,14,2,107,sc,sc,2005-08-17,NaN,2.0,2005-08-17,9.0,"--/--/2001 Non Insulin dependent diabetes, die...",NaN,1.0,1.0,2005-08-17 00:00:00.0
23,ADNI1,58,7,10,sc,sc,2005-08-25,NaN,2.0,2005-08-25,9.0,Diabetes since 2 years ago. Taking Amaryl.,NaN,1.0,1.0,2005-08-25 00:00:00.0
65,ADNI1,142,15,4,sc,sc,2005-09-16,NaN,10.0,2005-09-15,9.0,adult onset diabetes 1992,NaN,1.0,1.0,2005-09-16 00:00:00.0
87,ADNI1,188,25,4,f,f,2005-09-23,NaN,5.0,2005-09-22,9.0,Adult onset Diabetes Mellitus 1/1980,NaN,1.0,1.0,2005-09-23 00:00:00.0
115,ADNI1,244,26,10,f,f,2005-09-28,NaN,5.0,2005-09-27,9.0,Diabetes since 2004. Taking Glitppzite 10 mg d...,NaN,1.0,1.0,2005-09-28 00:00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30375,ADNI2,31844,5269,60,v01,sc,2013-07-29,NaN,4.0,NaN,9.0,"Diabetes Mellitus, Type II",--/--/2008,1.0,1.0,2013-07-29 19:23:13.0
30512,ADNI2,32134,5284,17,v01,sc,2013-08-20,NaN,2.0,NaN,9.0,diabetes,--/--/2011,1.0,1.0,2013-08-20 19:21:03.0
30644,ADNI2,32398,5293,28,v01,sc,2013-09-26,2013-09-27,2.0,NaN,9.0,diabetes,10/01/1991,1.0,1.0,2013-09-27 19:20:51.0
30651,ADNI2,32412,5293,28,v01,sc,2013-09-27,NaN,8.0,NaN,9.0,Diabetes,10/01/1991,1.0,1.0,2013-09-27 19:20:51.0
30733,ADNI2,32566,715,48,v06,m72,2014-09-26,NaN,11.0,NaN,9.0,Diabetes type II,12/--/2012,1.0,1.0,2014-09-26 19:20:54.0

In [125]:
def find_word_match(prev_dx):
    regex = r"2|II|NIDDM|non-insulin|prediabetes|pre-diabetic|pre-diabetes|prediabetic|glucose intolerance"
    index_list = []
    for w in range(len(prev_dx)):
        try:
            matches = re.findall(regex, prev_dx[w], re.MULTILINE | re.IGNORECASE)
            if len(matches)!=0:
                index_list.append(w)
        except Exception:
            print(prev_dx[w])
    
    return index_list

In [126]:
rec_indices = find_word_match(rec_hist.MHDESC.tolist())
rec_hist_diab  = rec_hist[rec_hist.index.isin(rec_indices)]

In [127]:
rec_hist_diab

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,RECNO,EXAMDATE,MHNUM,MHDESC,MHDTONSET,MHCUR,MHSTAB,update_stamp
1,ADNI1,14,2,107,sc,sc,2005-08-17,NaN,2.0,2005-08-17,9.0,"--/--/2001 Non Insulin dependent diabetes, die...",NaN,1.0,1.0,2005-08-17 00:00:00.0
23,ADNI1,58,7,10,sc,sc,2005-08-25,NaN,2.0,2005-08-25,9.0,Diabetes since 2 years ago. Taking Amaryl.,NaN,1.0,1.0,2005-08-25 00:00:00.0
65,ADNI1,142,15,4,sc,sc,2005-09-16,NaN,10.0,2005-09-15,9.0,adult onset diabetes 1992,NaN,1.0,1.0,2005-09-16 00:00:00.0
87,ADNI1,188,25,4,f,f,2005-09-23,NaN,5.0,2005-09-22,9.0,Adult onset Diabetes Mellitus 1/1980,NaN,1.0,1.0,2005-09-23 00:00:00.0
115,ADNI1,244,26,10,f,f,2005-09-28,NaN,5.0,2005-09-27,9.0,Diabetes since 2004. Taking Glitppzite 10 mg d...,NaN,1.0,1.0,2005-09-28 00:00:00.0