In [1]:
import pandas as pd
import numpy as np
import pprint
from os import walk
import scipy.stats as stats
import matplotlib.pyplot as plt

In [6]:
dna_src = pd.read_excel("/Users/sohamdighe/Documents/SCIE90017/Data/ADNI/Genetic/ADNI_GO_2_GWAS_FinalReports_Keys.xlsx")
dna_src

/Users/sohamdighe/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Column Name,Description,Data Type,Expected Values,Notes
0,Sample Index,Row index of sample,integer,NaN,NaN
1,Sample ID,Sample identifier: ADNI_ID,string,NaN,NaN
2,GC Score,The call score of this SNP for the sample. Gen...,float,0-1 or NaN,NaN: not available or not applicable
3,SNP Index,The row index of the SNP,integer,1-620901,NaN
4,SNP Name,The name of the SNP,string,NaN,NaN
5,Allele1 - Top,Allele 1 on the top strand. Illumina-designate...,character,"A,C,G,T,-","""-"": not available or not applicable"
6,Allele2 - Top,Allele 2 on the top strand. Illumina-designate...,character,"A,C,G,T,-","""-"": not available or not applicable"
7,Allele1 - Forward,Allele 1 on the forward strand. Forward/revers...,character,"A,C,G,T,-","""-"": not available or not applicable"
8,Allele2 - Forward,Allele 2 on the forward strand. Forward/revers...,character,"A,C,G,T,-","""-"": not available or not applicable"
9,Allele1 - AB,Allele 1 in A/B notation,character,"A,B,-","""-"": not available or not applicable"
10,Allele2 - AB,Allele 2 in A/B notation,character,"A,B,-","""-"": not available or not applicable"
11,Allele1 - Plus,Allele 1 on the plus strand orientation. The +...,character,"A,C,G,T,-","""-"": not available or not applicable"
12,Allele2 - Plus,Allele 2 on the plus strand orientation. The +...,character,"A,C,G,T,-","""-"": not available or not applicable"
13,Chr,The chromosome of the SNP,"integer, x, y, xy, mt","1-22,X,Y,XY,MT","x,y are sex chromosomes and mt is for mitochon..."
14,Position,The chromosomal position of the SNP,integer,NaN,NaN
15,GT Score,Call score for that SNP from the GenTrain clus...,float,0-1 or NaN,NaN: not available or not applicable
16,Cluster Sep,Cluster separation score. A measure of the clu...,float,0-1,NaN
17,SNP,SNP allele,character,"[A/C],[A/G],[A/T], â€¦",NaN
18,Theta,The normalized Theta-value of this SNP for the...,float,0-1 or NaN,NaN: not available or not applicable
19,R,The normalized R-value of this SNP for the sample,float,,NaN: not available or not applicable
20,X,The normalized intensity of the A allele.,float,,NaN: not available or not applicable
21,Y,The normalized intensity of the B allele.,float,,NaN: not available or not applicable
22,X Raw,The raw intensity of the A allele.,integer,NaN,NaN
23,Y Raw,The raw intensity of the B allele.,integer,NaN,NaN
24,B Allele Freq,The B allele theta value of this SNP for the s...,float,0-1 or NaN,NaN: not available or not applicable
25,Log R Ratio,For loci included in BeadStudio statistics: th...,float,,NaN: not available or not applicable

In [17]:
desikan = pd.read_csv("/Users/sohamdighe/Documents/SCIE90017/Data/ADNI/Genetic/DESIKANLAB.csv")
drop_col=['update_stamp','USERDATE']#1 and 2 unique values so they are not important
desikan.drop(drop_col,axis=1, inplace=True)
desikan.isnull().sum()

RID    0
PHS    0
CIR    0
dtype: int64

In [33]:
tomm40 = pd.read_csv("/Users/sohamdighe/Documents/SCIE90017/Data/ADNI/Genetic/TOMM40.csv")
tomm40.drop(['update_stamp'],axis=1,inplace=True)
#polyT variant data
tomm40.dropna(axis=0,subset=['TOMM40_A1', 'TOMM40_A2'],inplace=True)
tomm40.isnull().sum()

PTID         0
RID          0
TOMM40_A1    0
TOMM40_A2    0
dtype: int64

In [15]:
ts_ratio = pd.read_csv("/Users/sohamdighe/Documents/SCIE90017/Data/ADNI/Genetic/TS_RATIO_ADJ.csv")
ts_ratio.isnull().sum()

RID               0
PHASE             0
PLATE             0
WELL              0
VISCODE           0
VISCODE2         83
EXAM_DATE         2
DATE_DRAWN        0
DATE_RECEIVED    41
DNA_STORAGE       0
SAMPLE_TYPE       0
TS_RATIO          0
CV                0
TS_RATIO_ADJ      0
TL_BP_ADJ         0
update_stamp      0
dtype: int64

In [37]:
ts_ratio[ts_ratio.VISCODE2.isnull()]
#how important is viscode2 and date_received

,RID,PHASE,PLATE,WELL,VISCODE,VISCODE2,EXAM_DATE,DATE_DRAWN,DATE_RECEIVED,DNA_STORAGE,SAMPLE_TYPE,TS_RATIO,CV,TS_RATIO_ADJ,TL_BP_ADJ,update_stamp
30,835,ADNIGO,1,C07,sc,NaN,2011-09-13,2011-09-13,2011-09-14,65.97,Blood,0.77,0.05,0.76,5110.94,2018-11-20 11:04:42.0
31,58,ADNI2,1,C08,m60,NaN,2011-04-27,2011-04-28,2011-04-29,70.57,Blood,0.78,0.02,0.76,5098.58,2018-11-20 11:04:42.0
34,4080,ADNI2,1,C11,bl,NaN,2011-07-12,2011-08-03,2011-08-04,67.33,Blood,0.70,0.02,0.71,4981.31,2018-11-20 11:04:42.0
82,1010,ADNIGO,1,G11,sc,NaN,2010-12-02,2010-12-02,2010-12-03,75.47,Blood,0.81,0.00,0.85,5319.43,2018-11-20 11:04:42.0
135,1271,ADNI2,2,D04,m48,NaN,2011-03-30,2011-04-04,2011-04-05,71.37,Blood,0.96,0.01,1.02,5739.17,2018-11-20 11:04:42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1794,2037,ADNIGO,19,F09,bl,NaN,2010-08-24,2010-09-01,2010-09-02,78.53,Blood,1.21,0.01,1.23,6231.31,2018-11-20 11:04:43.0
1795,1408,ADNIGO,19,F10,sc,NaN,2010-10-14,2010-10-14,2010-10-15,77.10,Blood,0.73,0.05,0.77,5134.93,2018-11-20 11:04:43.0
1860,4707,ADNI2,20,D03,bl,NaN,2012-06-05,2012-06-05,2012-06-06,57.10,Blood,0.83,0.00,0.82,5262.77,2018-11-20 11:04:43.0
1881,108,ADNIGO,20,E12,sc,NaN,2011-02-15,2011-02-15,2011-02-16,72.97,Blood,0.63,0.03,0.71,4977.29,2018-11-20 11:04:43.0
1884,135,ADNIGO,20,F03,sc,NaN,2010-09-07,2010-09-07,2010-09-08,78.33,Blood,1.00,0.02,1.01,5700.11,2018-11-20 11:04:43.0

In [38]:
ts_ratio[ts_ratio.DATE_RECEIVED.isnull()]

,RID,PHASE,PLATE,WELL,VISCODE,VISCODE2,EXAM_DATE,DATE_DRAWN,DATE_RECEIVED,DNA_STORAGE,SAMPLE_TYPE,TS_RATIO,CV,TS_RATIO_ADJ,TL_BP_ADJ,update_stamp
104,2390,ADNI2,2,A09,m12,m12,2012-07-17,2012-07-24,NaN,55.47,Buffy Coat,1.24,0.03,1.23,6244.30,2018-11-20 11:04:42.0
137,230,ADNI2,2,D06,m96,m96,2014-01-14,2014-01-14,NaN,37.50,Buffy Coat,0.67,0.02,0.62,4771.23,2018-11-20 11:04:42.0
152,2390,ADNI2,2,E09,m36,m36,2014-07-17,2014-07-17,NaN,31.37,Buffy Coat,0.78,0.04,0.76,5100.76,2018-11-20 11:04:42.0
173,230,ADNI2,2,G06,m96,m96,2014-01-14,2014-01-14,NaN,37.50,Buffy Coat,0.70,0.01,0.66,4862.78,2018-11-20 11:04:42.0
185,230,ADNI2,2,H06,m84,m84,2013-01-29,2013-01-29,NaN,49.13,Buffy Coat,0.91,0.01,0.89,5429.51,2018-11-20 11:04:42.0
198,4173,ADNI2,3,A07,bl,bl,2011-09-20,2011-09-20,NaN,65.73,blood,0.92,0.04,0.89,5420.24,2018-11-20 11:04:42.0
234,4173,ADNI2,3,D07,m12,m12,2012-09-25,2012-09-25,NaN,53.37,Buffy Coat,1.48,0.05,1.39,6633.29,2018-11-20 11:04:42.0
258,4173,ADNI2,3,F07,m24,m24,2013-09-27,2013-09-27,NaN,41.03,Buffy Coat,1.04,0.00,0.94,5544.94,2018-11-20 11:04:42.0
297,1004,ADNI2,4,A10,m60,m60,2011-12-28,2011-12-28,NaN,62.43,blood,0.67,0.05,0.73,5025.86,2018-11-20 11:04:42.0
333,1004,ADNI2,4,D10,m72,m72,2012-11-09,2012-11-09,NaN,51.73,Buffy Coat,0.99,0.05,0.99,5669.47,2018-11-20 11:04:42.0
369,1004,ADNI2,4,G10,m60,m60,2011-12-28,2011-12-28,NaN,62.43,blood,0.77,0.01,0.82,5248.80,2018-11-20 11:04:42.0
404,671,ADNI2,5,B09,m84,m84,2013-07-31,2013-07-31,NaN,42.80,Buffy Coat,1.04,0.02,1.02,5725.00,2018-11-20 11:04:42.0
416,671,ADNI2,5,C09,m72,m72,2012-07-09,2012-07-09,NaN,55.97,Buffy Coat,1.73,0.03,1.70,7378.19,2018-11-20 11:04:42.0
440,671,ADNIGO,5,E09,sc,m60,2011-06-27,2011-06-27,NaN,68.57,blood,0.99,0.00,1.03,5757.14,2018-11-20 11:04:42.0
453,4469,ADNI2,5,F10,m12,m12,2013-04-11,2013-04-11,NaN,46.77,Buffy Coat,0.89,0.04,0.89,5433.39,2018-11-20 11:04:42.0
465,4469,ADNI2,5,G10,bl,bl,2012-04-18,2012-04-20,NaN,58.53,blood,1.61,0.03,1.67,7294.28,2018-11-20 11:04:42.0
519,126,ADNI2,6,D04,m84,m84,2013-04-04,2013-04-04,NaN,47.00,Buffy Coat,1.38,0.02,1.39,6627.75,2018-11-20 11:04:42.0
535,2390,ADNI2,6,E08,m36,m36,2014-07-17,2014-07-17,NaN,31.37,Buffy Coat,0.76,0.05,0.74,5056.42,2018-11-20 11:04:42.0
567,126,ADNIGO,6,H04,sc,m60,2011-02-23,2011-03-17,NaN,71.97,blood,1.02,0.00,1.10,5937.90,2018-11-20 11:04:42.0
571,2390,ADNI2,6,H08,m12,m12,2012-07-17,2012-07-24,NaN,55.47,Buffy Coat,1.23,0.00,1.24,6255.60,2018-11-20 11:04:42.0
642,4197,ADNI2,7,F07,m24,m24,2013-08-29,2013-09-10,NaN,41.70,Buffy Coat,1.01,0.01,0.96,5578.44,2018-11-20 11:04:42.0
666,4197,ADNI2,7,H07,m12,m12,2012-08-14,2012-08-14,NaN,54.77,Buffy Coat,0.76,0.01,0.74,5069.89,2018-11-20 11:04:42.0
679,4390,ADNI2,8,A08,bl,bl,2011-12-16,2012-01-04,NaN,62.20,blood,0.65,0.04,0.67,4896.84,2018-11-20 11:04:42.0
688,4032,ADNI2,8,B05,bl,bl,2011-05-23,2011-05-23,NaN,69.73,blood,1.03,0.00,1.07,5847.88,2018-11-20 11:04:42.0
724,4032,ADNI2,8,E05,m24,m24,2013-05-06,2013-05-09,NaN,45.83,Buffy Coat,1.64,0.05,1.64,7221.86,2018-11-20 11:04:42.0
727,4390,ADNI2,8,E08,m24,m24,2013-12-23,2013-12-23,NaN,38.23,Buffy Coat,1.04,0.00,1.01,5700.59,2018-11-20 11:04:42.0
736,4032,ADNI2,8,F05,bl,bl,2011-05-23,2011-05-23,NaN,69.73,blood,1.11,0.04,1.15,6042.75,2018-11-20 11:04:42.0
739,4390,ADNI2,8,F08,bl,bl,2011-12-16,2012-01-04,NaN,62.20,blood,0.65,0.01,0.66,4856.87,2018-11-20 11:04:42.0
748,4032,ADNI2,8,G05,m12,m12,2012-05-17,2012-05-17,NaN,57.73,Buffy Coat,1.24,0.02,1.24,6256.58,2018-11-20 11:04:42.0
751,4390,ADNI2,8,G08,m24,m24,2013-12-23,2013-12-23,NaN,38.23,Buffy Coat,0.98,0.02,0.94,5540.03,2018-11-20 11:04:42.0
760,4032,ADNI2,8,H05,m24,m24,2013-05-06,2013-05-09,NaN,45.83,Buffy Coat,1.62,0.01,1.62,7181.52,2018-11-20 11:04:42.0
874,2234,ADNI2,10,A11,m24,m24,2012-11-27,2012-12-19,NaN,50.40,Buffy Coat,1.08,0.04,1.03,5770.01,2018-11-20 11:04:42.0
898,2234,ADNIGO,10,C11,bl,bl,2010-12-10,2010-12-10,NaN,75.10,blood,1.76,0.00,1.74,7469.63,2018-11-20 11:04:42.0
961,4197,ADNI2,11,A02,m24,m24,2013-08-29,2013-09-10,NaN,41.70,Buffy Coat,1.16,0.00,1.12,5982.24,2018-11-20 11:04:42.0
1653,126,ADNIGO,18,B11,sc,m60,2011-02-23,2011-03-17,NaN,71.97,blood,1.03,0.04,1.09,5909.45,2018-11-20 11:04:43.0
1728,922,ADNIGO,19,A03,sc,m48,2010-10-15,2010-10-15,NaN,76.97,blood,1.22,0.06,1.26,6323.62,2018-11-20 11:04:43.0
1740,922,ADNI2,19,B03,m72,m72,2012-10-10,2012-10-10,NaN,52.87,Buffy Coat,0.88,0.03,0.87,5362.49,2018-11-20 11:04:43.0
1755,42,ADNI2,19,C06,m72,m72,2011-11-30,2011-11-30,NaN,63.37,Buffy Coat,0.82,0.04,0.77,5120.37,2018-11-20 11:04:43.0
1791,42,ADNI2,19,F06,m84,m84,2013-01-23,2013-01-24,NaN,49.33,Buffy Coat,1.21,0.02,1.16,6068.29,2018-11-20 11:04:43.0
1812,922,ADNI2,19,H03,m60,m60,2011-10-19,2011-10-19,NaN,64.77,blood,0.85,0.04,0.90,5437.42,2018-11-20 11:04:43.0
1815,42,ADNI2,19,H06,m84,m84,2013-01-23,2013-01-24,NaN,49.33,Buffy Coat,1.18,0.00,1.15,6058.27,2018-11-20 11:04:43.0